name: mibilib
channels:
- conda-forge
- defaults
dependencies:
- pip=22.3.1
- python=3.11.0
- pip:
  - astroid==2.12.13
  - attrs==22.1.0
  - coverage==6.5.0
  - jupyter==1.0.0
  - matplotlib==3.6.2
  - mock==4.0.3
  - numpy==1.23.5
  - pandas
  - pillow==9.3.0
  - pylint==2.15.6
  - pytest==7.2.0
  - python-dotenv==0.21.0
  - requests==2.28.1
  - scikit-image==0.19.3
  - scikit-learn==1.1.3
  - setuptools==65.5.1
  - sphinx-argparse==0.2.2
  - sphinx==5.3.0
  - tifffile==2022.10.10
  - tox==3.27.1
  - tqdm==4.64.1
