name: mibilib
channels:
- conda-forge
- defaults
dependencies:
- pip=19.1.1
- python=3.7.3
- pip:
    - attrs==17.4.0
    - coverage==4.5.3
    - jupyter==1.0.0
    - matplotlib==2.2.3
    - mock==2.0.0
    - numpy==1.16.0
    - pandas==0.23.4
    - pillow==6.2.2
    - pylint==2.3.1
    - pytest==4.2.0
    - requests==2.20.1
    - scikit-image==0.14.2
    - scikit-learn==0.20.3
    - setuptools==40.4.0
    - sphinx==1.7.9
    - sphinx-argparse==0.2.2
    - tqdm==4.31.1
    - tox==3.7.0
