name: mibilib
channels:
- conda-forge
- defaults
dependencies:
- pip=19.1.1
- python=3.8
- pip:
  - astroid==2.2.5
  - attrs==17.4.0
  - coverage==4.5.3
  - jupyter==1.0.0
  - matplotlib==3.3.2
  - mock==4.0.2
  - numpy==1.20.0
  - pandas==1.2.3
  - pillow==8.2.0
  - pylint==2.3.1
  - pytest==5.2.0
  - requests==2.20.1
  - scikit-image==0.18.0
  - scikit-learn==0.23.2
  - setuptools==40.4.0
  - sphinx-argparse==0.2.2
  - sphinx==4.3.0
  - tifffile==2021.4.8
  - tox==3.7.0
  - tqdm==4.31.1
