version: 2

jobs:
  build:
    docker:
      - image: cimg/python:3.11.0
    working_directory: ~/mibilib
    steps:
      - checkout:
          path: ~/mibilib
      - restore_cache:
          key: cache2-{{ checksum "environment.yml" }}
      - run:
          name: Install Python deps in a conda env if not cached
          command: |
            if [[ ! -d ~/miniconda/envs/mibilib ]]; then
                echo "Installing Miniconda ...";
                wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda.sh;
                bash ~/miniconda.sh -b -f -p ~/miniconda;
                ~/miniconda/bin/conda env create -f environment.yml;
            else
                echo "Using cached Miniconda install";
            fi
      - save_cache:
          key: cache2-{{ checksum "environment.yml" }}
          paths:
            - ~/miniconda/envs/mibilib
      - run:
          name: Run tests
          command: |
            sudo apt-get update
            sudo apt install default-jre
            ~/miniconda/envs/mibilib/bin/coverage run -m py.test mibitracker mibidata scripts
            ~/miniconda/envs/mibilib/bin/coverage html -i --omit=*/tests/*
      - run:
          name: Run pylint on files changed from master
          command: |
            for i in $(git diff origin/master --name-only | grep \\.py$ | grep -v tests); do
              if [[ -f $i ]]; then
                echo "linting $i";
                ~/miniconda/envs/mibilib/bin/pylint $i;
              else
                echo "skipping $i because it was deleted";
              fi
            done
            for i in $(git diff origin/master --name-only | grep tests/.*\\.py$); do
              if [[ -f $i ]]; then
                echo "linting $i";
                ~/miniconda/envs/mibilib/bin/pylint \
                  --disable=protected-access,no-self-use,no-name-in-module,import-error,no-member,unused-argument  \
                $i;
              else
                echo "skipping $i because it was deleted";
              fi
            done
      - store_artifacts:
          path: htmlcov
      - run:
          name: Test setup.py with tox if environment has changed.
          command: |
            if [ $(git diff origin/master --name-only -- environment.yml) ]; then
              echo "Running tox to test setup.py"
              sudo pip install tox
              tox
            else
              echo "Environment did not change; skipping tox."
            fi
      - deploy:
          name: Deploy docs
          command: |
            if [ $CIRCLE_BRANCH == "master" ]; then
              git config --global user.email $(git --no-pager show -s --format='%ae' HEAD)
              git config --global user.name $(git --no-pager show -s --format='%an' HEAD)
              git clone https://github.com/ionpath/mibilib out
              cd out
              git checkout gh-pages || git checkout --orphan gh-pages
              git rm -rf .
              cd ..
              ~/miniconda/envs/mibilib/bin/sphinx-apidoc -f -o docs/source ./ */tests ./setup.py
              ~/miniconda/envs/mibilib/bin/sphinx-build -b html docs/source out
              mkdir out/.circleci && cp -a .circleci/. out/.circleci/.
              cd out
              touch .nojekyll
              git add -A
              git commit -m "Automated deployment to GitHub Pages: ${CIRCLE_SHA1}" --allow-empty
              git push origin gh-pages
            fi
      - persist_to_workspace:
          root: ~/mibilib
          paths:
            - docs
  tag_test:
    working_directory: ~/mibilib
    docker:
      - image: circleci/python:3.7 # container for the build job

    steps:
      - checkout:
          path: ~/mibilib
      - run:
          name: Check if tag and setup.py are consistent
          command: |
            python check_tag.py
workflows:
  version: 2
  untagged-build:
    jobs:
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
  tagged-build:
    jobs:
      - tag_test:
          filters:
            # ignore any commit on any branch by default
            branches:
              ignore: /.*/
            # only act on version tags
            tags:
              only: /^v.*/
      - build:
          requires:
            - tag_test
